html {
    text-align: center;
    background-color: palegreen; 
    box-sizing: content-box;
}
body {
    font-family: 'Franklin Gothic Medium', cursive;
    background-color: aquamarine;
}
textarea {
    height: 100px;
    padding: 12px 45px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    color: blue;
    background-color: rgb(248, 246, 132);
}
h1 {
    background-color: blueviolet;
    text-align: center;
    box-sizing: content-box;
}
#div {
    box-sizing: content-box;
}